/* Main App container */
.App {
  text-align: center;
}

/* Header section styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center; /* Center the navbar content */
  align-items: center;
  background-color: #20232a;
  padding: 10px;
}

/* Logo styling */
.logo {
  height: 140px; /* Increase the height of the logo */
  margin-right: 20px;
}

/* Navbar link styling */
.navbar a {
  color: #61dafb;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 1.2em;
}

/* Navbar link hover effect */
.navbar a:hover {
  background-color: #61dafb;
  color: #20232a;
}

/* Main content styling */
.main-content {
  padding: 20px;
}

/* Section styling */
.section {
  margin: 20px 0;
}

/* Footer styling */
.footer {
  background-color: #20232a;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* App link styling */
.App-link {
  color: #61dafb;
}
